html {
  font-size: 12pt;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0px;
  background-color: hsl(208, 69%, 16%);
}

main {
  margin: 8px;
  min-height: 69vh;
}

.pageContainer {
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-columns: 100%;
  background-color: #fff;
}

.main-nav {
  box-shadow: 0 0 9px 3px rgba(41,41,41,.25);
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.main-nav img {
  margin-left: 1em;
  margin-right: 1em;
}

.main-nav ol {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0px;
}

.main-nav ol li {
  padding-right: 1em;
}

.main-nav ol li a {
  text-decoration: none;
}

.item-summary {
  display: grid;
  grid-template-columns: min-content auto;
}

.item-summary dt {
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  font-size: 100%;
  margin-bottom: 0.5em;
}

.item-summary dd {
  margin-inline-start: 1em;
  font-size: 100%;
}

.form-horizontal {
  display: grid;
  grid-template-columns: min-content min-content;
}

.form-horizontal label {
  grid-row-start: auto;
  width: max-content;
  text-align: right;
  margin-right: 0.5em;
}

.form-horizontal * {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.form-horizontal .errors {
  grid-column-start: 2;
}

.form-horizontal textarea {
  min-height: 10em;
  min-width: 35em;
}

.form-horizontal input[type='submit'] {
  width: max-content;
  grid-column-start: 2;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.btn {
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.list-table {
  border-collapse: collapse;
}

.list-table tbody tr {
  border: 1px solid black;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.mono {
  font-size: 10pt;
  font-family: "Roboto Mono"
}