html {
  font-size: 12pt;
  font-family: Roboto, Arial, serif;
}

.item-summary {
  display: grid;
  grid-template-columns: min-content auto;
}

.item-summary dt {
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  font-size: 100%;
  margin-bottom: 0.5em;
}

.item-summary dd {
  margin-inline-start: 1em;
  font-size: 100%;
}

.list-table {
  border-collapse: collapse;
}

.list-table tbody tr {
  border: 1px solid black;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}