#report-title-page {
  background-color: rgb(8, 8, 32);
  color: white;
  height: 275mm;
  width: 100%;
  text-align: center;
}

#report-title-page-content {
  padding-top: 80mm;
  vertical-align: middle;
}

#report-title-page-warning {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  bottom: 0px;
}

#report-toc {
  page-break-after: always;
}

.major-section {
  page-break-after: always;
}

.vulnerability-section {
  page-break-inside: avoid;
}

html {
  font-size: 11pt;
  font-family: "Open Sans", sans-serif;
}

th {
  font-weight: bold;
}

td {
  padding: 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

.wrap {
  white-space: pre-wrap;
}