footer.footer {
  margin-top: 3em;
  background-color: hsl(208, 69%, 16%);
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.footer-logo {
  display: inline;
  margin-right: 1em;
}

.footer-nav ol {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer-nav li {
  margin-right: 1em;
  vertical-align: middle;
}

.footer-nav a {
  text-decoration: none;
  color: #ffffff;
}

.footer-nav a:visited {
  color: #ffffff;
}