<footer class="footer">
    <div class="footer-logo">
      <img src={~p"/images/full-logo.svg"}>
    </div>
    <nav class="footer-nav">
      <ol class="py-1">
        <li class="py-2"><a href={~p"/"}>Home</a></li>
        <li class="py-2"><a href={~p"/deliverables"}>Deliverables</a></li>
        <li class="py-2"><a href={~p"/vulnerability_analyses"}>Vulnerability Analyses</a></li>
      </ol>
    </nav>
</footer>