<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <%= if assigns[:inertia_head] do %>
      <.inertia_title><%= assigns[:page_title] || "Sectory" %></.inertia_title>
      <.inertia_head content={@inertia_head} />
    <% end %>
    <link phx-track-static rel="stylesheet" href={~p"/assets/tailwind.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <div class="mainContainer bg-white">
      <%= unless assigns[:skip_main_layout] do %>
        <%= main_nav assigns %>
      <% end %>
      <%= @inner_content %>
      <%= unless assigns[:skip_main_layout] do %>
        <%= footer assigns %>
      <% end %>
    </div>
  </body>
</html>
